@font-face {
  font-family: "NeueMontreal";
  src: url("NeueMontreal-Medium.otf") format("otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Uncut";
  src: url("Uncut-Sans-Variable.ttf") format("ttf");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Uncut Medium";
  src: url("Uncut-Sans-Medium.otf") format("otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
