.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-index-loader);
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  &.active {
    display: flex;
  }
  .loader__spinner {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid var(--color-primary);
    border-top-color: var(--color-secondary);
    animation: spin 1s infinite linear;
  }
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
