.c-navbar {
  width: 100%;
  @extend %row-middle;
  &__content {
    flex: 1;
    color: var(--black);
    font-size: 14px;
    padding: 30px 0;
    max-width: 1340px;
    // border-bottom: $border-1;
    @extend %row-spaced-center;

    &__logo {
      color: var(--black);
      font-size: 18px;
      font-weight: 600;
    }

    &__menu {
      gap: 10px;
      @extend %row-center;
      a {
        gap: 5px;
        @extend %row-center;
        padding: 10px 12px;
      }
    }

    &__actions {
      gap: 10px;
      @extend %row-center;
    }
  }
}
