.timeline {
  @extend %row-spaced-center;
  width: 100%;
  position: relative;

  $itemSize: 30px;

  &-item {
    @extend %row-middle;
    z-index: 2;
    width: $itemSize;
    height: $itemSize;
    border: $border-900;
    border-radius: 100%;
    background-color: var(--neutral-200);
    &[data-active="true"] {
      border: none;
      background-color: var(--primary-500);
    }
  }

  &-cover {
    height: 3px;
    width: 100%;
    position: absolute;
    background-color: var(--neutral-400);
  }

  &-line {
    $lineWidth: calc(100% - #{$itemSize});
    height: 3px;
    width: $lineWidth;
    position: absolute;
    left: calc(#{$itemSize} / 2);
    background-color: var(--primary-500);

    &[data-index="0"] {
      width: 0px;
    }
    &[data-index="1"] {
      width: calc(#{$lineWidth} / 4);
    }
    &[data-index="2"] {
      width: calc(#{$lineWidth} / 2);
    }
    &[data-index="3"] {
      width: calc(#{$lineWidth} / (4 / 3));
    }

    &.cctp {
      &[data-index="1"] {
        width: calc(#{$lineWidth} / 2);
      }
      &[data-index="2"] {
        width: $lineWidth;
      }
    }
  }
}
